/* navigation bar */
.navbar-brand{
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Montserrat Subrayada', sans-serif;
}
.nav-link{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.nav-item{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.navbar-expand-lg{
    background-color: #000000;
}
.container{
    margin: 0px auto;
    width: 1000px;
}
.container video{
    position: relative; width: 100%; height: 100%;
}

/* Banner */
#banner{
    padding: 0 0 2em 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(banner_mini.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
#banner .inner{
    position: relative;
    z-index: 10005;
    padding-top: 3em;
} 
#banner p {
    font-family: 'Roboto', sans-serif;
    color: #fff;
} 
p{
    line-height: 180%;
}
#homecontent {
    padding-top: 40px;
}
.container h3, h4{
    font-family: 'Nanum Gothic', sans-serif;
} 
/* copyright */
#copyright{
    overflow: hidden;
    padding: 1em 0em;
    border-top: 1px solid #e7e7e7;
}
#copyright p{
    letter-spacing: 0.20em;
    text-align: center;
    font-size: 0.80em;
    color: #646464;
}
#copyright a{
    display: none;
} 
@media (max-width:600px){
    .container h3{
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    .container h4{
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
    }
    .container p{
        margin: 0 20px 30px 20px;
    }
    #banner p{
        margin: 0 20px 0 20px;
    }
    #copyright a{
        display: inline;
    } 
}